DATABASE_URL=postgresql://postgres:Damilare%4019@db.yhycglciplferlzpzchl.supabase.co:5432/postgres
SUPABASE_URL=https://yhycglciplferlzpzchl.supabase.co
SUPABASE_KEY=sb_publishable__5YueC82FT8bZdH3SCTVdg_690kaztS